<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
    <script src="/javascripts/script.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p>
      The battery status is <span id="level"></span> and charging time is
      <span id="chargingTime"></span>
    </p>
  </body>
</html>
